html, body {
  margin: 0 !important;
  display:block;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  font-family:Geneva, sans-serif;
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  background-color:#202020;
}

header {
  height:50px;
  text-align:center;
  border-bottom:1px solid white;
  margin-bottom:20px;
}

.header-img{
  width:400px;
  margin-bottom:40px;
  display:inline-block;
}
.tasks-div {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height:auto;
  background-color:#202020;
  width:360px;
  max-width:80%;
  margin:90px auto 5px auto;
  padding:15px;
  border-radius: 10px;
  font-size:1.2rem;
}

.tasks-div h1{
  font-size:1.2rem;
  color:white;
}

.tasks-div h2{
  font-size:1.6rem;
  color:#fff;
  margin:0;
  text-align: right;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
}

#task-box{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
  
}

.inside-box{
  padding-top:10px;
  padding-bottom:-5px;
}
.tasks-div ul{
  list-style-type: none;
  padding: 0;            /* Remove padding */
  margin: 0;     
  width:100%;
  min-width:200px;
  display:flex;
  flex-direction: column;
  background-color: #202020;
}
.tasks-div li {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:5px 0px;
  margin-bottom:10px;
  width:100%;
  color:white;
  border-radius:5px;
  background-color:#407088;
}

.tasks-div li div:first-child{
  width:50%;
}

.add-button {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding:5px 5px;
  margin-bottom:10px;
  position:relative;
  left:130px;
  width:15%;
  border-radius:5px;
  background-color:#42b883;
  color:white;
  cursor:pointer;
  border:1px solid transparent;
}
.add-button:hover{
  border: 1px solid #407088;
}

.delete-button {
  border:0px solid cornsilk;
  border-radius:5px;
  font-size:0.8rem;
  padding-top:3px;
  color:white;
  background-color: transparent;
  cursor:pointer;
}
.delete-button:hover {
  background-color: #132743;
}

input[type="text"]{
  background-color: #D3D3D3;
  color:black;
}
input[type="password"]{
  background-color: #D3D3D3;
  margin-top:10px;
  color:black;
}
input[type="checkbox"]{
  width:20px;
  height:20px;
  margin-top:5px;
  cursor:pointer;
}
input[type="checkbox"]:hover{
  background-color: #132743;
}

.new-task-div{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  max-width:100%;
  gap:5px;
  margin-top:10px;
}

.new-task-div input{
  width:100%;
  max-width:100%;
  border-radius:5px;
  height:44px;
}

.submit-button {
  border-radius:5px;
  border:1px solid transparent;
  margin:0;
  background-color:#42b883;
  height:35px;
  width:35px;
  cursor:pointer;
}
.submit-button:hover {
  border: 1px solid #407088;
}

.back-button {
  border-radius:10px;
  height:35px;
  width:35px;
  background-color: #407088;
  border:1px solid transparent;
  cursor:pointer;
}
.back-button:hover {
  border:1px solid #202020;
}

.login-div {
  display:flex;
  flex-direction: column;
  color:white;
  margin-top:150px;
  justify-content: center;
  align-items:center;
}

.login-input {
  padding:10px;
  border-radius:10px;
}

.login-button {
  margin-top:20px;
  width:150px;
  height:40px;
  border-radius:10px;
  font-size:1.2rem;
  font-weight:bold;
  background-color: #FCC9DD;
  color:#202020;
}

.input-p a{
  color:white;
}